<div class="global-notification uber-notification">
    <div class="message">
        {{notificationMessage}}
    </div>
</div>
<div class="index-slider-header">
    <div id="spacial-slider" class="slider-component fxSoftScale">
        <ul class="itemwrap">
            <li class="slide slide--left current">
                <div class="container">
                    <h2>
                        Nuevo producto
                    </h2>
                    <a href="#" class="btn-shadow btn-shadow-lg btn-shadow-secondary">
                        Contáctanos
                    </a>
                </div>

                <div class="pic" style="background-image: url('assets/images/unsplash/slider1.jpg');">
                </div>
            </li>
            <li class="slide slide--left">
                <div class="container">
                    <h2 class="customFadeInUp">
                        Nueva expansión <br> MTG
                    </h2>
                    <a href="#" class="btn-shadow btn-shadow-lg btn-shadow-dark customFadeInUp">
                        Contáctanos
                    </a>
                </div>

                <div class="pic" style="background-image: url('assets/images/unsplash/slider2.jpg');">
                </div>
            </li>
            <li class="slide slide--left">
                <div class="container">
                    <h2 class="customFadeInUp">
                        Nueva expansión <br> Pokémon
                    </h2>
                    <a href="#" class="btn-shadow btn-shadow-lg btn-shadow-info customFadeInUp">
                        Contáctanos
                    </a>
                </div>

                <div class="pic" style="background-image: url('assets/images/unsplash/slider3.jpg');">
                </div>
            </li>
        </ul>
        <nav>
            <a class="prev" href="#">
                <span class="icon-wrap"></span>
            </a>
            <a class="next" href="#">
                <span class="icon-wrap"></span>
            </a>
        </nav>
    </div>
</div>

<div class="index-devices mobile-alt" id="velvetInfo">
    <section class="clearfix">
        <div id="player" height="473px" width="689px" class="devices"></div>

        <h4>Somos ¡Velvet Room!</h4>
        <p>
            Buscamos ofrecer el mejor servicio de juego para nuestros clientes y mantener activa una comunidad
            participativa y satisfecha, por esto ofrecemos eventos especiales con premiación para todos nuestros
            clientes</p>
        <p>
            Nuestra misión es ofrecer lo mejor en entretenimiento para nuestros clientes, ofreciéndoles un espacio
            seguro, limpio y amigable en donde puedan disfrutar al máximo dentro de un ambiente justamente competitivo
        </p>

    </section>
</div>

<!-- Hay 2 maneras para que deje la que mas le sirva -->

<!-- Opcion 1: inserta en el iframe el video en el src 
    no se auto reproduce pero no necesita nada mas pero rechaza algunos videos.
    21:9 aspect ratio
    <div class="embed-responsive embed-responsive-21by9">
    </div>
  
    16:9 aspect ratio
    <div class="embed-responsive embed-responsive-16by9">
    </div>
  
    4:3 aspect ratio
    <div class="embed-responsive embed-responsive-4by3">
    </div>
  
    1:1 aspect ratio
    <div class="embed-responsive embed-responsive-1by1">
    <iframe class="embed-responsive-item" src="..."></iframe>
    </div>
-->
<!--
<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/watch?v=JjDsRN89sIA" allowfullscreen></iframe>
</div>
-->
<!-- Opcion 2 usa parte de la 1: Lleva todo el backend en el otro lado repite el video creo que se le puede agregar una lista-->
<!--
<div class="embed-responsive embed-responsive-16by9">
    <div id="player"></div>
</div> -->

<div class="agency-portfolio" id="magic">
    <div class="container">
        <h2>
            Magic the gathering
        </h2>

    <!--
        <div class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-lg-4 col-md-6" *ngFor="let item of magicList;">
                            <a class="project" data-toggle="modal" data-target="#productsModal"
                                (click)="modalInjection(item)">
                                <span class="mask">
                                    <span class="info">
                                        <h3>{{item.name}}</h3>
                                    </span>
                                    <span class="btn-see-project">
                                        Ver producto
                                    </span>
                                </span>
                                <span style="background-image:url('assets/images/unsplash/{{item.image}}');"
                                    class="pic">
                                </span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="row">
                        <div class="col-lg-4 col-md-6" *ngFor="let item of magicList;">
                            <a class="project" data-toggle="modal" data-target="#productsModal"
                                (click)="modalInjection(item)">
                                <span class="mask">
                                    <span class="info">
                                        <h3>{{item.name}}</h3>
                                    </span>
                                    <span class="btn-see-project">
                                        Ver producto
                                    </span>
                                </span>
                                <span style="background-image:url('assets/images/unsplash/{{item.image}}');"
                                    class="pic">
                                </span>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    -->
        <div class="row">
            <div class="col-lg-4 col-md-6" *ngFor="let item of magicList">
                <a class="project" data-toggle="modal" data-target="#productsModal" (click)="modalInjection(item)">
                    <span class="mask">
                        <span class="info">
                            <h3>{{item.name}}</h3>
                        </span>
                        <span class="btn-see-project">
                            Ver producto
                        </span>
                    </span>
                    <span style="background-image:url('assets/images/unsplash/{{item.image}}');" class="pic">
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="index-photography-cta my-4">
    <h2>
        ¡Nuevo producto en camino!
    </h2>
    <a href="https://www.facebook.com/VelvetRoomGameStore" class="scroll">
        Contáctanos
    </a>
</div>

<div class="agency-portfolio" id="pokemon">
    <div class="container">
        <h2>
            Pokemon TCG
        </h2>

        <div class="row">
            <div class="col-lg-4 col-md-6" *ngFor="let item of pokemonList;">
                <a class="project" data-toggle="modal" data-target="#productsModal" (click)="modalInjection(item)">
                    <span class="mask">
                        <span class="info">
                            <h3>{{item.name}}</h3>
                        </span>
                        <span class="btn-see-project">
                            Ver producto
                        </span>
                    </span>
                    <span style="background-image:url('assets/images/unsplash/{{item.image}}');" class="pic">
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="index-photography-cta my-4">
    <h2>
        ¡Nuevo producto en camino!
    </h2>
    <a href="https://www.facebook.com/VelvetRoomGameStore" class="scroll">
        Contáctanos
    </a>
</div>

<div class="agency-portfolio" id='others'>
    <div class="container">
        <h2>
            Accesorios
        </h2>

        <div class="row">
            <div class="col-lg-4 col-md-6" *ngFor="let item of othersList">
                <a class="project" data-toggle="modal" data-target="#productsModal" (click)="modalInjection(item)">
                    <span class="mask">
                        <span class="info">
                            <h3>{{item.name}}</h3>
                        </span>
                        <span class="btn-see-project">
                            Ver producto
                        </span>
                    </span>
                    <span style="background-image:url('assets/images/unsplash/{{item.image}}');" class="pic">
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- Modal start -->

<div class="modal fade" id="productsModal" tabindex="-1" role="dialog">

    <div class="modal-dialog modal-lg" role="document">

        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="productsModallabel1"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <div class="modal-body">
                <form>
                    <div class="form-group">

                        <div class="tab-header clearfix">
                            <div class="float-left">
                                <div class="col-lg-12 col-md-12">
                                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                        <ol class="carousel-indicators">
                                            <li data-target="#carouselExampleIndicators" data-slide-to="0"
                                                class="active"></li>
                                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                        </ol>
                                        <div class="carousel-inner" role="listbox">
                                            <div class="carousel-item active">
                                                <img class="img-fluid"
                                                    src="assets/images/unsplash/{{productModelForModal.image}}"
                                                    style="max-width: 100%;max-height: 100%;" alt="First slide"
                                                    height="400px" width="400px">
                                                <div class="carousel-caption d-none d-md-block">
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <img class="img-fluid"
                                                    src="assets/images/unsplash/m1{{productModelForModal.image}}"
                                                    style="max-width: 100%;max-height: 100%;" alt="Second slide"
                                                    height="400px" width="400px">
                                                <div class="carousel-caption d-none d-md-block">
                                                </div>
                                            </div>
                                        </div>
                                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                                            data-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"> </span>
                                            <span class="sr-only">Anterior</span>
                                        </a>
                                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                                            data-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"> </span>
                                            <span class="sr-only">Siguiente</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="float-left">
                                <div class="col-lg-12 col-md-12">
                                    <h5>{{productModelForModal.name}}</h5>
                                    <br>
                                    <p>Descripción: {{productModelForModal.description}}</p>
                                    <br>
                                    <p>Precio: ₡{{productModelForModal.price}}</p>
                                    <br>
                                    <p>Estado: {{productModelForModal.status}}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Contactar</button>
            </div>

        </div>
    </div>
</div>

<!-- Modal end -->