<nav class="navbar navbar-expand-lg navbar-light" role="navigation">

    <div class="container no-override">
        <img src="assets/images/logo-rest2.png" style=" height: 20%; width: 20%;" class="d-none d-lg-inline mr-2 w-25" />
        <a href=""> </a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a href="google.com" class="nav-link">
                        Inicio
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                        TCGs
                        <i class="ion-chevron-down"></i>
                    </a>
                    <div class="dropdown-menu" role="menu">
                        <a class="dropdown-item" href="blog.html">Magic the gathering</a>
                        <a class="dropdown-item" href="blog-3-cols.html">Pokémon TCG</a>
                        <a class="dropdown-item" href="blog-grid.html">Heroclix</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                        Accesorios
                        <i class="ion-chevron-down"></i>
                    </a>
                    <div class="dropdown-menu" role="menu">
                        <a class="dropdown-item" href="blog.html">Cajas de decks</a>
                        <a class="dropdown-item" href="blog-3-cols.html">Protectores</a>
                        <a class="dropdown-item" href="blog-grid.html">Playmats</a>
                    </div>
                </li>
                <li class="nav-item ">
                    <a href="google.com" class="nav-link">
                        Nosotros
                    </a>
                </li>
                <li class="nav-item ">
                    <a href="google.com" class="nav-link">
                        Inicio
                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav>