<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="title">
                    Acerca de Velvet Room
                </div>
                <ul class="menu">
                    <li>
                        <a href="#">Home Pages</a>
                    </li>
                    <li>
                        <a href="#">Theme Features</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <div class="title">
                    Conecta con nosotros
                </div>
                <ul class="menu">
                    <li>
                        <a href="https://www.instagram.com/velvetroom_cr/">
                            <i class="fa fa-instagram"></i>
                            Instagram
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/VelvetRoomGameStore">
                            <i class="fa fa-facebook"></i>
                            Facebook
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 newsletter">
                <div class="title">
                    Contactanos
                </div>
                <p>
                    Ingresa to correo electronico para mantenerte informado
                </p>

                <form class="newsletter-form" autocomplete="off">
                    <input type="email" id="mc-email" class="form-control" placeholder="Correo electronico" required />

                    <button type="submit">
                        <i class="fa fa-chevron-right"></i>
                    </button>
                    <label for="mc-email" class="text-white newsletter-feedback mt-3"></label>
                </form>
            </div>
        </div>
        <div class="bottom">
            <ul>
                <li><a href="#">Privacidad</a></li>
                <li><a href="#">Informacion legal</a></li>
                <li><a href="#">Lenguaje</a></li>
            </ul>
        </div>
    </div>
</footer>