<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="title">
                    Mas acerca de nuestros productos
                </div>
                <ul class="menu">
                    <li>
                        <a href="https://magic.wizards.com/es">Magic: The gathering</a>
                    </li>
                    <li>
                        <a href="https://www.pokemon.com/el/jcc-pokemon/jugar-en-linea/">Pokemon: TCG</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <div class="title">
                    Conecta con nosotros
                </div>
                <ul class="menu">
                    <li>
                        <a href="https://www.instagram.com/velvetroom_cr/">
                            <i class="fa fa-instagram"></i>
                            Instagram
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/VelvetRoomGameStore">
                            <i class="fa fa-facebook"></i>
                            Facebook
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 newsletter">
            

                   <img src="assets/images/logo-rest2.png" alt="" height="70%" width="75%"> 

            </div>
        </div>
        <div class="bottom">
            <ul>
                <li><a href="#">Privacidad</a></li>
                <li><a href="#">Informacion legal</a></li>
                <li><a href="#">Lenguaje</a></li>
            </ul>
        </div>
    </div>
</footer>